{% if auth() %}
    {% if exists('auth/base') %}
        {% extends 'auth/base.html' %}
    {% else %}
        {% extends 'base.html' %}
    {% endif %}

    {% block css %}
    <!-- Application CSS -->
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    {% endblock %}

    {% block content %}
    <div class="container text-center">
        <div class="title m-b-md">
            Add Journal entry
        </div>
        <form action="/entry/create" method="POST">
            {{ csrf_field }}

            <label> Rating </label>
            <input type="number" name="rating" min="-2" max="2">

            <label> Note </label>
            <input type="text" name="note" placeholder="Describe why you rated
                                                        your day as such">

            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
    {% endblock %}
{% else %}
    <a href="/login">Please Login</a>
{% endif %}
